/* mini nonsense reset */
html,
body,
* {
    font-size: 62.5; 
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.App {
    position: relative;
    height: 100vh;
}

.header {
    padding: 2rem;
    background-color: bisque;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.2rem;
    border-bottom: 1px solid black;
    /* margin-bottom: 1rem; */
}

.create {
    position:absolute;
    bottom: 0;
    padding: 2rem;
    background-color: cornflowerblue;
    width: 100%;
}

.create-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.create-input {
    font-size: 1.6rem;
    padding: 1rem;
    background-color: #f7f7f7;
    border: none;
    margin-bottom: 1rem;
    transition: transform .2s;
    border-radius: .5rem;
}

.create-input:focus {
    transform: scale(1.05);
}

.create-button {
    background-color:lightcyan;
    padding: .5rem;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: all .1s;
    font-weight: bold;
    font-size: 1.5rem;
}

.create-button:active {
    transform: translateY(-2px);
}

.display {
    background-color: #f7f7f7;
    padding: 2rem;
    height: 70%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

.display-text {
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: unset;
}

.book {
    position: relative;
    height: 15rem;
    width: 15rem;
    padding: 2rem;
    background-color: cadetblue;
    border-radius: 1rem;
    color: #f7f7f7;
    font-size: 1.3rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
}

.book-delete {
    position: absolute;
    right: 5%;
    top: 5%;
    color:firebrick;
    font-size: 1.6rem;
    cursor: pointer;
}

.book-edit {
    position: absolute;
    right: 17%;
    top: 5%;
    color:firebrick;
    font-size: 1.6rem;
    cursor: pointer;
}

.book-image {
    height: 50%;
    width: 50%;
    background-color: crimson;
}






