/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 62.5%;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.btn {
  padding: 0.2em 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  background-color: #282828;
  color: #f7f7f7;
}
.btn:active {
  transform: translateY(-2px);
}

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header {
  padding: 2rem;
  background-color: bisque;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
  border-bottom: 1px solid black;
}

.create {
  position: absolute;
  bottom: -5.5rem;
  padding: 1rem 2rem;
  background-color: cornflowerblue;
  width: 100%;
  border-top: 1px solid black;
  transition: all 0.2s;
}
.create__active {
  bottom: 0;
}
.create__heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.create__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create__input {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border: none;
  transition: transform 0.2s;
  border-radius: 0.5rem;
}
.create__input:focus {
  transform: scale(1.05);
}

.display {
  background-color: #f7f7f7;
  padding: 2rem;
  height: 85%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.display__text {
  font-size: 1.3rem;
  font-weight: bold;
  justify-self: unset;
}

.book {
  position: relative;
  height: 15rem;
  width: 15rem;
  padding: 2rem;
  background-color: cadetblue;
  border-radius: 1rem;
  color: #f7f7f7;
  font-size: 1.3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: wrap;
}
.book__delete {
  position: absolute;
  right: 5%;
  top: 5%;
  color: firebrick;
  font-size: 1.6rem;
  cursor: pointer;
}
.book__edit {
  position: absolute;
  right: 17%;
  top: 5%;
  color: firebrick;
  font-size: 1.6rem;
  cursor: pointer;
}
.book__image {
  height: 50%;
  width: 50%;
  background-color: crimson;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem;
  height: 80%;
  width: 80%;
  background-color: cornflowerblue;
  border: 1px solid black;
  box-shadow: 0 0.1rem 1rem black;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 0.5rem;
}
.search__text {
  font-size: 1.6rem;
  font-weight: bold;
}
.search__results-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #282828;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.result {
  padding: 1rem;
  flex-basis: 18%;
  height: 20rem;
  background-color: #f7f7f7;
  margin: 0.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.result__selected {
  border: 5px solid cornflowerblue;
}
.result__image {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 70%;
  max-height: 80%;
}
.result__title {
  font-size: 1.2rem;
  font-weight: bold;
}

/*# sourceMappingURL=App.css.map */
