.App {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header {
    padding: 2rem;
    background-color: bisque;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.2rem;
    border-bottom: $border;
}

// Create book component
.create {
    position:absolute;
    bottom: -5.5rem;
    padding: 1rem 2rem;
    background-color: $primary-blue-dark;
    width: 100%;
    border-top: $border;
    transition: all .2s;

    &__active {
        bottom: 0
    }

    &__heading {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        font-size: 1.6rem;
        padding: 1rem;
        background-color: #f7f7f7;
        border: none;
        transition: transform .2s;
        border-radius: .5rem;

        &:focus {
            transform: scale(1.05);
        }
    }

    

}

.library-container {
    display: flex;
    
    height: 85%;
}

.library {
    flex-basis: 15%;
    border-right: $border;
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
}

// Display books component
.display {
    background-color: #f7f7f7;
    padding: 2rem;
    flex-basis: 85%;

    &__overview {
        display: flex;
    }

    &__photo {
        height: 15rem;
        width: auto;
        margin-right: 1rem;
    }

    &__title-container {
        flex-basis: 50%;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    &__author {
        font-size: 1.3rem;
    }
    &__publisher {
        font-size: 1rem;
    }
    &__delete {
        height: 3rem;
        margin-left: auto;
    }

    &__progress {
        height: 5rem;
        width: 100%;
        background-color: $primary-blue-light;
    }

    &__description {
        font-size: 1.4rem;
    }
}

// Book component

.book {
    position: relative;
    width: 100%;
    padding: 1rem 1rem;
    background-color: $primary-grey-dark;
    color: #f7f7f7;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    cursor: pointer;
}

// Search and result components

.search {

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;

    height: 80%;
    width: 80%;
    background-color: $primary-blue-dark;
    border: $border;
    box-shadow: 0 .1rem 1rem black;
    border-radius: .5rem;
    
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-bottom: .5rem;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: bold;

    }

    &__results-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items:center;
        background-color: $primary-grey-dark;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        overflow-y: auto; // makes div scrollable
        padding: 1rem
    }
    

    
}


.result {
    padding: 1rem;
    flex-basis: 18%;
    height: 20rem;
    background-color: $primary-grey;
    margin: .7rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

    // &__selected {
    //     border: 5px solid $primary-blue-dark;
    // }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 70%;
        max-height: 80%;
        
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
    }
}




