$primary-red: firebrick;
$primary-blue-light: cadetblue;
$primary-blue-dark: cornflowerblue;
$primary-grey: #f7f7f7;
$primary-grey-dark: #282828;
$primary-beige: bisque;
$border : 1px solid black;

// Setting root vartiables to be able to update in react component




.btn {
    padding: .2em 1rem;
    border: none;
    cursor: pointer;
    transition: all .1s;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: .2rem;
    background-color: $primary-grey-dark;
    color: $primary-grey;
    transition: all .2s;

        &:active {
            transform: translateY(-2px);
        }

    &-warn {
        background-color: $primary-red;
        font-weight: initial;
    }
}

.selected {
    background-color: $primary-blue-dark !important; 
    color: $primary-grey;
}